#login-form {
    margin: 20px auto;
    width: 300px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input {
    display: block;
}

.text-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-input {
    width: 100%;
    background-color: #0d6efd;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
